---

- name: Check if the operating system is Amazon Linux
  command: cat /etc/os-release
  register: os_info
  changed_when: false

- name: Run the equivalent of "apt-get update" as a separate step
  ansible.builtin.apt:
    update_cache: yes
  when: "'Debian' in os_info.stdout_lines[0]"



- name: Install Nginx on Ubuntu/Debian
  apt:
    name: nginx
    state: present
  when: ansible_os_family == 'Debian'

- name: Install Nginx on CentOS/RHEL
  yum:
    name: nginx
    state: present
  when: ansible_os_family == 'RedHat'


- name: Install Nginx on Amazon Linux
    command: amazon-linux-extras install nginx1


- name: Install Nginx and other tools.
  package:
    name: ["aws-cli"]
    state: present

- name: Starting the nginx service.
  service:
    name: nginx
    state: started
    enabled: yes

- name: Copying the index.html template to /usr/share/nginx/html
  template:
    src: index.html.j2
    dest: /usr/share/nginx/html/index.html
